<div class="text-center mt-5">

    <h1 class="display-3 fw-bold text-dark">
        Bem-vindo ao ProjetoExemploTop
    </h1>

    <p class="lead text-secondary mt-4">
        Sistema de gerenciamento moderno em ASP.NET MVC
    </p>

</div>